## Query languages in Nigeria from “World_x” MySQL Database

In [1]:
import pymysql
import pandas as pd
from sqlalchemy import create_engine

### Step 1
Create an SQLAlchemy engine for a MySQL database, and enter the appropriate credentials, which includes user, password, database and host.

In [2]:
# create sqlalchemy engine
#Write your code here

### Step 2
Read the `country` and the `countrylanguage` tables. You can do this with the Pandas.read_sql or read_sql_table method. 
You expected to generate two pandas DataFrame from this, and you can provide any name for them.

In [3]:
#Write your code here

### Step 3
Rename the “CountryCode” column in the DataFrame generated from the “Countrylanguage” table. The new column name is “Code”. Hint: Use the Pandas.rename() method for this.

In [5]:
#Write your code here

### Step 4
In this step, you are expected to perform a `LEFT JOIN` by joining the “country” table to “countrylanguage”. You will perform this step using the Pandas method of combining data on a common column which is “Code”. Save your result to a DataFrame named “df_country”

In [7]:
#Write your code here

### Step 5
From the results above, you will filter the DataFrame(df_country) to return another DataFrame where the “Code” column is `NGA` and the “Name” column is `Nigeria`. In essence, you are to generate a table for the country Nigeria. You can name this DataFrame `df_Nigeria`

In [9]:
#Write your code here

### Step 6
To test the methods above, perform a similar `LEFT JOIN` by writing an SQL query(not Pandas method) and save to a variable. Using the Pandas.read_sql method, read the query from the database to perform and generate results for the join procedure. Save the result to another DataFrame name e.g `df_Nigeria_SQL`
Note: Use `SELECT * ` when writing the query so as to generate columns that are similar to previous steps. Also remember to drop the `countrycode` column

In [1]:
#Write your code here

### Step 7
Use the shape attribute to check the shape of both DataFrames `(df_Nigeria & df_Nigeria_SQL)`. The result should be the same for both DataFrames. You can write a conditional statement to check if both shapes are equal. 
Ensure that you don’t have `countrycode` column in your test DataFrame

In [2]:
#Write your code here

### Step 8
Using the DataFrame.to_sql method, save the results of “df_Nigeria” to a new table(you can provide any name e.g “nigerialanguage” to the database. 
Provide a screenshot to show that your procedure ran successfully.

In [3]:
#Write your code here